.header {
    padding-top: 33px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.05), inset 0 -5px 15px rgba(255, 255, 255, 0.44);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    margin-right: 62px;
    padding-left: 25px;
    position: relative;
}

.phone::before {
    content: "";
    background-image: url("../images/header/phone-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.account-info {
    display: flex;
}

.cart-header {
    position: relative;
}

.cart {
    margin-right: 15px;
    text-decoration: none;
}

.counter {
    position: absolute;
    top: -10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: #06D10E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 50%;
}

.account-header {
    position: relative;
}

.account {
    text-decoration: none;
}

.account-actions {
    padding: 25px 20px 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    top: 60px;
    right: 0;
}

.account-header:hover .account-actions {
    display: flex;
}

.account-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 244px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.account-button:not(:last-child) {
    margin-bottom: 10px;
}

.sign-in {
    color: #FFFFFF;
    background-color: #3FCF5E;
    border: none;
}

.sign-up {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    margin-right: 40px;
}

.goods {
    position: relative;
}

.nav-link:last-child {
    margin-right: 0;
}

.link-dropdown {
    padding-right: 15px;
}

.link-dropdown:after {
    content: "";
    background-image: url("../images/header/arrow-down-menu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 40px;
    top: 3px;
}

.catalogue {
    background-color: #FFFFFF;
    padding: 21px 25px 34px;
    width: 284px;
    display: none;
    flex-direction: column;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    top: 45px;
    z-index: 1;
}

.goods:hover .catalogue {
    display: flex;
}

.goods:hover .link-dropdown:after {
    background-image: url("../images/header/green-arrow-up.png");
}

.category {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    margin-bottom: 30px;
    text-decoration: 0;
}

.category:last-child {
    margin-bottom: 0;
}

.search {
    width: 345px;
    height: 54px;
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 45px;
    background-image: url("../images/header/search.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center right 20px;
}

.search::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}