.suggestions {
    margin-bottom: 100px;
}

.food-sliders {
    display: flex;
}

.slider {
    width: 650px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 80px 26px;
    margin-right: 20px;
    position: relative;
}

.slider:last-child {
    margin-right: 0;
}

.slider-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.grains {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-button {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.previous-food {
    background-image: url("../images/main/slider-back.png");
    position: absolute;
    top: 104px;
    left: 30px;
}

.next-food {
    background-image: url("../images/main/slider-forward.png");
    position: absolute;
    top: 104px;
    right: 30px;
}

.food {
    display: flex;
    justify-content: space-between;
}

.food-link {
    width: 100px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #828282;
    margin-right: 30px;
}

.food-link:last-child {
    margin-right: 0;
}

.food-image {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}